@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
        padding:0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        border: none;
        outline:none;
        font-family: 'Poppins', sans-serif;
}

body{
        background-image: url(./img/img.fundo.jpg);
        max-width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
}
div{       
             padding: 25px 100px;  
            color: orange;
            text-transform: uppercase;
            font-weight: 600;    
            font-size: 18px;  
            align-items: center;
            justify-content: space-between
            

}
header{
    margin-left: 1100px;
    display: inline-block
}

.menu{
    cursor: pointer;
    margin-left: 25px;
    font-size: 18px;
    color:#ffff;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    transition: 3s;
    color: orange;
    border-bottom: 2px solid #555;
    padding-bottom: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
   
}
h1{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 4.5em;
    font-weight: 700;
    color: orange;
    text-transform: uppercase;
}
span{
    color: #fff;
    text-decoration: underline;
  }

p{
    margin-left: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
}
.button-section{
    padding: 10px 15px;
    background: orange;
    color: #fff;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: .3s;
    cursor: pointer;
}